{% extends 'placesBase.html' %}

{% load static %}

{% block title %} mombasa {% endblock %}

{% block content2 %}
   <div class="container">
      <div class="header">
         <h1>Mombasa <span>- Coast</span></h1>
      </div>
   </div>
{% endblock %}

{% block content3 %}

<section class="">   
   <br>
   <!--Gallery-->
   <section class="gallery-section">
      <div class="container h-75">
         <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner container-fill">
                <div class="row h-75">
                    <div class="h-75">                     
                        {% for Picture in Pictures %}                                              
                              <div class="carousel-item w-75 {% if forloop.counter == 1 %} active {% endif %}" style="height: 500px;" id="slide {{ forloop.counter}}">
                                 <img src="{{ Picture.images.url }}" class="d-block rounded-3xl img-thumbnail w-75 h-100 slide-img" alt="explore {{Place.name}} image">
                              </div>                         
                        {% endfor %}
                    </div>
                </div>
            </div>
         </div>
      </div>
   </section>  
   <!--overview-section-->
   <section class="overview-section" id="overview-section">
      <div class="container">
         <div class="row justify-content-center">
            <div class="packages-header fs-3 fw-bold text-center">
               <h2>overview</h2>
            </div>
            <div class=""><br>
               <h3>Mombasa!</h3>
               <p>In Mombasa we offer a variety of activities that cater all of your different interests and give fulfilling experiences:
                  <br>
                     1.Explore Haller Park:  <br>
                  Visiting Haller Park, a nature park with a variety of wildlife, including giraffes, hippos and buffalos. It is a great place for families and nature enthusiasts.
                  <br>
                     2.Take a Dhow Cruise: <br>
                  Taking a Traditional Dhow Cruise, the sailing vessels offer a unique way to see the coastline and includes dinner and local entertainment in the open seas while watching the stars. 
                  <br>
                     3.Discover Mamba Village Centre: <br>
                  Heading to Mamba Village Centre, known for its crocodile farms where one can enjoy the reptiles and learn more about them. The Centre also has beautiful botanical gardens and an amazing aquarium.
                  <br>
                     4.Enjoy local Cuisine: <br>
                  Enjoying local Swahili Cuisine is a must, Sample dishes like biryani, Swahili pilau and seafoods in various restaurants and street food joints.  
                  <br>
                     5.Visit Fort Jesus: <br>
                  Exploring the historical Fort Jesus, a place that offers a glimpse into the past with its well-preserved architecture and museum.
                  <br>
                     6.Relax on the Beaches: <br>
                  Some time relaxing on the beaches of Mombasa beautiful beaches. Enjoy the sun, sand, sea and try out the water activities like sea fish feeding and fish coral viewing in the open deep sea waters.
               </p>
            </div>
         </div>
      </div>
   </section>
   
   <!--packages-section-->
   <section class="packages-section" id="packages-section">
      <div class="container">
         <div class="row justify-content-center">
            <div class="packages-header fs-3 fw-bold text-center">
               <h2>packages</h2>
            </div>
         </div>
      </div>
   </section>
   
   <!--pricing-section-->
   <section class="pricing-section" id="pricing-section">
      <div class="container">
         <div class="row justify-content-center">
            <div class="packages-header font-black fs-3 fw-bold text-center">
               <h2>pricing</h2>
            </div>
         </div>
      </div>
   </section>
</section>
<!--sytle-->
<style>
   .header h1{
      text-align: center;
      font-size: 40px;
      font-weight: 700;
   }
   .header h1 span{
      color: lightgreen;
   }
   .sticky-navbar{
      position: fixed;
      top: 0;
      left: 0;
   }
</style>
<!--script-->
<script>
   window.onscroll= function() {stickynavbar()};

   var navbar = document.getElementById("navbar-section");
   var sticky = navbar.offsetTop;

   function stickynavbar(){
         if(window.pageYOffset >= sticky){
            navbar.classList.add("sticky-navbar");
         }else{
            navbar.classList.remove("sticky-navbar");
         }
   }

</script>
{% endblock %}

{% block content4 %}
<div class="container">
   <div class="row">
       <div class="">
           <div class="feedback-area">                                        
               <form method="POST" action="{% url 'mombasa' %}" class="d-block">
                  {% csrf_token %}
                  <input type="text" name="feedback" class="form-control rounded-pill border-green-900 py-2 fs-6 fw-medium"placeholder=" add your feedback here..." aria-label="feedback">
                  <br>
                  <div class="row justify-content-center">
                     <button class="btn btn-outline-success rounded-pill col-sm-4 col-4 fw-bold border-green-900" type="submit">post</button> <br>
                  </div>
               </form> <br>                       
           </div>
       </div>
   </div>
</div>
{% endblock %}
