{% extends 'base.html' %}

{% load static %}

{% block title %} unregister {% endblock %}

{% block content %}
<div class="container">
    <nav >
        <div class="row">
            <div class="flex d-flex py-3">
                <a href="/" class="navbar-brand">
                    {% for Website_Image in Website_Images %}
                    <img src="{{ Website_Image.Name.url }}" class="" style="height: 50px;" alt="icon image">
                    {% endfor %}
                </a>
                <div class=" px-4 py-2">
                    <a href="{% url 'register' %}" class="btn btn-outline-success rounded-pill fw-bold border-green-900 ">register</a>
                </div>
            </div>
        </div>
    </nav>
    <form method="POST" class="d-block row justify-content-center">
        {% csrf_token %}
        <input type="text" name="username" class="form-control me-2 rounded-pill py-2 fs-6 fw-medium" style="margin-top: 2pc;" placeholder="username" aria-label="username" required>
        <br>
        <input type="text" name="email" class="form-control me-2 rounded-pill py-2 fs-6 fw-medium" style="margin-top: 1pc;" placeholder="email" aria-label="email" required>
        <br>
        <div class="row justify-content-center">
            <button class="btn btn-outline-success rounded-pill col-sm-4 col-4 fw-bold border-green-900 " type="submit" name="unregister">unregister</button>
        </div><br>
    </form>  
    <div class=""> 
        {% if form == 1 %}
        <div class="alert alert-info">
            <strong>Info!</strong><p>You are no longer a regular!</p>
        </div>
        {% endif %}
    </div> 
    {% if form == 2 %}
    <div class="alert alert-warning">
        <strong>Info!</strong><p>Input correct username and email to unregister!</p>
    </div>
    {% endif %}     
    {% if form == 3 %}
    <div class="alert alert-warning">
        <strong>Info!</strong><p>There is no such regular with us!</p>
    </div>
    {% endif %}   
</div>
{% endblock%}