{% extends 'placesBase.html' %}

{% load static %}

{% block title %} watamu {% endblock %}

{% block content2 %}
   <div class="container">
      <div class="header">
         <h1>Watamu <span>- North Coast</span></h1>
      </div>
   </div>
{% endblock %}

{% block content3 %}

<br>
<!--Gallery-->
<section class="gallery-section">
   <div class="container d-flex col-sm-6">
      <div id="carouselExampleSlidesOnly" class="carousel slide w-50" data-bs-ride="carousel">
         <div class="carousel-inner container-fill">
             <div class="row ">
                 <div class="">                     
                     {% for Picture in Pictures %}                                              
                           <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}" style="height: 500px;" id="slide {{ forloop.counter}}">
                              <img src="{{ Picture.images.url }}" class="d-block rounded-3xl img-thumbnail w-100 h-100 slide-img" alt="explore {{Place.name}} image">
                           </div>                         
                     {% endfor %}
                 </div>
             </div>
         </div>
      </div>
      <div class="w-50 text-center">
         <!--packages-section-->
         <section class="packages-section" id="packages-section">
            <div class="container">
               <div class="row justify-content-center">
                  <div class="packages-header fs-3 fw-bold text-center">
                     <h2>packages</h2>
                  </div>
               </div>
            </div>
         </section>
      </div>
   </div>
</section> 

<!--overview-section-->
<section class="overview-section" id="overview-section">
   <div class="container">
      <div class="row justify-content-center">
         <div class="packages-header fs-3 fw-bold text-center">
            <h2>overview</h2>
         </div>
         <div class="">
            <h1>Watamu!</h1>
            <p>
               Can't converse of watamu without the mention of Malindi:
               The town has a rich history and offers a mix of natural attractions,
               water sports, historical sites, and a laid-back atmosphere. <br>

               1.Coral Gardens: <br>
               Beautiful coral gardens, talk watamu with diverse marine life and 
               the activities here are offering a very different experience for you and your loved ones. <br>

               2.Malindi Museum Heritage Complex and the Pillar of da Gama: <br>
               Wildest of birds and fishers giving the vibrant marine life.
               Enjoy activities like snorkeling, scuba diving, and deep-sea fishing,
               as well as explore historical sites like the Vasco da Gama Pillar. <br>

               3.Pristine Beaches: <br>
               Watamu has thee most amazing beaches in the northern coast of Kenya. Well known as the Pristine Beaches. 
               Giving sea view sunsets and warm ocean beache walks. <br>
            </p>
         </div>
      </div>
   </div>
</section>

<!--pricing-section-->
<section class="pricing-section" id="pricing-section">
   <div class="container">
      <div class="row justify-content-center">
         <div class="packages-header fs-3 fw-bold text-center">
            <h2>pricing</h2>
         </div>
      </div>
   </div>
</section>

<!--sytle-->
<style>
   .header h1{
      text-align: center;
      font-size: 40px;
      font-weight: 700;
   }
   .header h1 span{
      color: lightgreen;
   }
   .sticky-navbar{
      position: fixed;
      top: 0;
      left: 0;
   }
</style>

<!--script-->
<script>
   window.onscroll= function() {stickynavbar()};

   var navbar = document.getElementById("navbar-section");
   var sticky = navbar.offsetTop;

   function stickynavbar(){
         if(window.pageYOffset >= sticky){
            navbar.classList.add("sticky-navbar");
         }else{
            navbar.classList.remove("sticky-navbar");
         }
   }

</script>
{% endblock %}
